.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.eslintcache
.history
.idea
.vercel
.vscode
.yarn
*.log
*.tgz
build
dist
firebase
logs
node_modules
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
packages/excalidraw/types
coverage
dev-dist
html
meta*.json
.claude
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md